@import 'fonts';
:root
{
  --color-black: #040C10;
  --color-gray: #262C2D;
  --color-white: #ffffff;
  --color-red: #F62C25;
  --fonts-bebas: 'Bebas Neue Regular', sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}
body
{
  background-color: var(--color-black);
  color: var(--color-white);
}